@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'PT Serif';
  src: url('/fonts/PTSerif-Regular.woff2') format('woff2'),
       url('/fonts/PTSerif-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url('/fonts/PTSerif-Bold.woff2') format('woff2'),
       url('/fonts/PTSerif-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('/fonts/TT-Norms-Pro-Regular.woff2') format('woff2'),
        url('/fonts/TT-Norms-Pro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('/fonts/TT-Norms-Pro-Bold.woff2') format('woff2')
        url('/fonts/TT-Norms-Pro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* The entire scrollbar */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 6px;

}

/* The background of the scrollbar tray */
::-webkit-scrollbar-track {
  background: transparent;
  /*rgba(255, 255, 255, 0.30);  White with 30% opacity */
  border-radius: 6px;
}

/* The scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* The scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.even-shadow{
  box-shadow: 0 0 10px rgba(0,0,0,0.3); /* Even shadow on all sides */
}

.profile {
  transition: transform 0.3s ease;
}

.profile:hover {
  transform: scale(1.02);
}

.dashboard-color{
  background: #171821;
}


/* Custom CSS for Flip Card */
.flip-card {
  perspective: 1000px;
  width: 20rem; 
  height: 15rem; 
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform .8s; /* Flip transition */
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #0e1422 ;
  box-shadow: 0 0 10px rgba(0,0,0,0.3); /* Even shadow on all sides */

}

.flip-card-front {
  background-color: #21222D; /* Tailwind gray-700 */

}

.flip-card-back {
  background-color: #21222D;
  color: white;
  transform: rotateY(180deg);
  padding: 1rem;
}


.flip-card-front-light, .flip-card-back-light {
  border: 2px solid #2D4573;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.3); /* Even shadow on all sides */

}

.flip-card-front-light {
  background-color: #e5e7eb; /* Tailwind gray-200 */
}

.flip-card-back-light {
  background-color: #e5e7eb;
  color: black;
  transform: rotateY(180deg);
  padding: 1rem;
}

.flip-card:hover {
  box-shadow: none; /* Remove shadow when card is flipped */
  transition-delay: 0s; /* Remove delay when hiding shadow */
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.spinner-border {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #A9DFD8;
  width: 40px;
  height: 40px;
  animation: spin 3s linear infinite;
}
