@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'PT Serif';
  src: url('/fonts/PTSerif-Regular.woff2') format('woff2'),
       url('/fonts/PTSerif-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url('/fonts/PTSerif-Bold.woff2') format('woff2'),
       url('/fonts/PTSerif-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('/fonts/TT-Norms-Pro-Regular.woff2') format('woff2'),
        url('/fonts/TT-Norms-Pro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('/fonts/TT-Norms-Pro-Bold.woff2') format('woff2')
        url('/fonts/TT-Norms-Pro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* The entire scrollbar */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 6px;

}

/* The background of the scrollbar tray */
::-webkit-scrollbar-track {
  background: transparent;
  /*rgba(255, 255, 255, 0.30);  White with 30% opacity */
  border-radius: 6px;
}

/* The scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* The scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.even-shadow{
  box-shadow: 0 0 10px rgba(0,0,0,0.3); /* Even shadow on all sides */
}

.profile {
  transition: transform 0.3s ease;
}

.profile:hover {
  transform: scale(1.02);
}